section.advantage
    .container
        .smallTitle.smallTitle_advantage преимущества заказа окон у профессионалов с 10-летним опытом
        ul.advantageList
            .advantageItem
                .advantageItem__icon.advantageItem__icon_net
                .advantageItem__discriptions Официальный партнер REHAU в области производства и реализации светопрозрачных конструкций
            .advantageItem
                .advantageItem__icon.advantageItem__icon_like
                .advantageItem__discriptions Специалисты высокого класса и высокоточное технологическое оборудование европейских производителей (Германия, Италия, Венгрия)
            .advantageItem
                .advantageItem__icon.advantageItem__icon_settings
                .advantageItem__discriptions Комплектующие только высокого качества в каждое окно - идеальная сборка и монтаж на месте
            .advantageItem
                .advantageItem__icon.advantageItem__icon_net
                .advantageItem__discriptions Официальный партнер REHAU в области производства и реализации светопрозрачных конструкций
            .advantageItem
                .advantageItem__icon.advantageItem__icon_like
                .advantageItem__discriptions Специалисты высокого класса и высокоточное технологическое оборудование европейских производителей (Германия, Италия, Венгрия)
            .advantageItem
                .advantageItem__icon.advantageItem__icon_settings
                .advantageItem__discriptions Комплектующие только высокого качества в каждое окно - идеальная сборка и монтаж на месте


