header.header
    .container
        .header-top
            .logo
                img(src="../images/logo.png")
            nav.menu
                a.menu__link(href="#") Пластиковые окна
                a.menu__link.menu__link_active(href="#") Пластиковые двери
                a.menu__link(href="#") Остекление балконов
            a(href="#").contact
                img.contact__image(src="../images/phone.png")
                span.contact__number +7 (495) 644-76-76
        .header-bottom
            .offer
                h1.offer__title окна,<br> через которые<br> видно мир
                p.offer__discriptions Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doleit
                a(href="#").offer__button Узнать больше