section.price
	.container
		.title
			.title__head.title__head_dark цены
			.title__discriptions Сколько стоит заказать лучшие окна в мире в МКАДЕ
		.products
			ul.productsList
				li.productsItem
					img.productsItem__image(src="../images/window1.jpeg")
					.productsItem__text
						h3.productsItem__name эстест
						p.productsItem__discriptions Лучшее в мире окно в МКАДе
					.productsItem__line
					.productsItem__price 6058 р.
				li.productsItem
					img.productsItem__image(src="../images/window2.jpeg")
					.productsItem__text
						h3.productsItem__name Rehau delight-design
						p.productsItem__discriptions Лучшее в мире окно за МКАДом
					.productsItem__line
					.productsItem__price 6550 р.
				li.productsItem
					img.productsItem__image(src="../images/window1.jpeg")
					.productsItem__text
						h3.productsItem__name эстест
						p.productsItem__discriptions Лучшее в мире окно в МКАДе
					.productsItem__line
					.productsItem__price 6058 р.
				li.productsItem
					img.productsItem__image(src="../images/window2.jpeg")
					.productsItem__text
						h3.productsItem__name Rehau delight-design
						p.productsItem__discriptions Лучшее в мире окно за МКАДом
					.productsItem__line
					.productsItem__price 6550 р.
			.calculate
				.calculate__title Калькулятор стоимости остекления
				.calculate__item Выберите тип окна
					.calculate__options Rehau Delight
				.calculate__item Выберите дополнения
					.calculate__options Rehau Delight
				a(href="#").calculate__button Рассчитать





				

