section.services
    .container
        .smallTitle Какие услуги предоставляет наша компания
        ul.servicesList
            li.servicesItem
                .servicesItem__picture
                    a(href="#").servicesItem__link
                    img.servicesItem__image(src="../images/services3.png")
                h3.servicesItem__title Пластиковые окна
                p.servicesItem__discriptions Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                a(href="#").servicesItem__plus +
            li.servicesItem
                .servicesItem__picture
                    a(href="#").servicesItem__link
                    img.servicesItem__image(src="../images/services4.png")
                h3.servicesItem__title Остекление балконов
                p.servicesItem__discriptions Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                a(href="#").servicesItem__plus +
            li.servicesItem
                .servicesItem__picture
                    a(href="#").servicesItem__link
                    img.servicesItem__image(src="../images/services3.png")
                h3.servicesItem__title Пластиковые окна
                p.servicesItem__discriptions Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                a(href="#").servicesItem__plus +
            li.servicesItem
                .servicesItem__picture
                    a(href="#").servicesItem__link
                    img.servicesItem__image(src="../images/services4.png")
                h3.servicesItem__title Остекление балконов
                p.servicesItem__discriptions Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                a(href="#").servicesItem__plus +
