section.slogan
	.container
		.title
			.title__head Почему
			.title__discriptions Как так вышло, что 543 клиента обратились к нам
		ul.triggers
			li.triggerItem
				.triggerItem__digit 750
					span.triggerItem__digit_small окон
				.triggerItem__text В сутки на своем производстве
			li.triggerItem
				.triggerItem__digit 10
					span.triggerItem__digit_small лет
				.triggerItem__text Работы на оконном рынке России
			li.triggerItem
				.triggerItem__digit 543
					span.triggerItem__digit_small клиента
				.triggerItem__text Рекомендовали наши услуги знакомым
