section.subscribe
    .container.subscribe__container
        img(src="../images/subscribeLogo.png").subscribe__logo
        .subscribeTitle
            h3.subscribeTitle__head Подпишитесь на нашу рассылку
            p.subscribeTitle__discriptions Чтобы быть в курсе последниъ скидок
        form.subscribeForm
            input(type="mail" placeholder="Введите e-mail").subscribeForm__input
            button(type="submit" formmethod="post").subscribeForm__button Подписаться




