doctype html

html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Ccmpatible', content="IE=edge")
        link(rel="stylesheet" href="css/main.min.css")
        title Title
    body
        include sections/header
        include sections/slogan
        include sections/services
        include sections/price