@font-face {
  font-family: "NeoSansPro-Bold";
  src: url(../fonts/NeoSansPro-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "NeoSansPro-BoldItalic";
  src: url(../fonts/NeoSansPro-BoldItalic.ttf);
}

@font-face {
  font-family: "NeoSansPro-Italic";
  src: url(../fonts/NeoSansPro-Italic.ttf);
}

@font-face {
  font-family: "NeoSansPro-Light";
  src: url(../fonts/NeoSansPro-Light.ttf);
}

@font-face {
  font-family: "NeoSansPro-LightItalic";
  src: url(../fonts/NeoSansPro-LightItalic.ttf);
}

@font-face {
  font-family: "NeoSansPro-Medium";
  src: url(../fonts/NeoSansPro-Medium.ttf);
}

@font-face {
  font-family: "NeoSansPro-Regular";
  src: url(../fonts/NeoSansPro-Regular.ttf);
}

@font-face {
  font-family: "NeoSansPro-Ultra";
  src: url(../fonts/NeoSansPro-Ultra.ttf);
}
@font-face {
  font-family: "fontawesome-webfont.woff";
  src: url(../fonts/fontawesome-webfont.woff);
}

@font-face {
  font-family: "fontawesome-webfont.woff2";
  src: url(../fonts/fontawesome-webfont.woff2);
}



