// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$footer-logo-name: 'footer_logo';
$footer-logo-x: 0px;
$footer-logo-y: 0px;
$footer-logo-offset-x: 0px;
$footer-logo-offset-y: 0px;
$footer-logo-width: 57px;
$footer-logo-height: 57px;
$footer-logo-total-width: 107px;
$footer-logo-total-height: 106px;
$footer-logo-image: '../images/sprite.png';
$footer-logo: (0px, 0px, 0px, 0px, 57px, 57px, 107px, 106px, '../images/sprite.png', 'footer_logo', );
$like-name: 'like';
$like-x: 57px;
$like-y: 0px;
$like-offset-x: -57px;
$like-offset-y: 0px;
$like-width: 50px;
$like-height: 49px;
$like-total-width: 107px;
$like-total-height: 106px;
$like-image: '../images/sprite.png';
$like: (57px, 0px, -57px, 0px, 50px, 49px, 107px, 106px, '../images/sprite.png', 'like', );
$net-name: 'net';
$net-x: 49px;
$net-y: 57px;
$net-offset-x: -49px;
$net-offset-y: -57px;
$net-width: 50px;
$net-height: 48px;
$net-total-width: 107px;
$net-total-height: 106px;
$net-image: '../images/sprite.png';
$net: (49px, 57px, -49px, -57px, 50px, 48px, 107px, 106px, '../images/sprite.png', 'net', );
$settings-name: 'settings';
$settings-x: 0px;
$settings-y: 57px;
$settings-offset-x: 0px;
$settings-offset-y: -57px;
$settings-width: 49px;
$settings-height: 49px;
$settings-total-width: 107px;
$settings-total-height: 106px;
$settings-image: '../images/sprite.png';
$settings: (0px, 57px, 0px, -57px, 49px, 49px, 107px, 106px, '../images/sprite.png', 'settings', );
$spritesheet-width: 107px;
$spritesheet-height: 106px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($footer-logo, $like, $net, $settings, );
$spritesheet: (107px, 106px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
