// fonts 
$bold: "NeoSansPro-Bold";
$bold-italic: "NeoSansPro-BoldItalic";
$italic: "NeoSansPro-Italic";
$light: "NeoSansPro-Light";
$light-italic: "NeoSansPro-LightItalic";
$medium: "NeoSansPro-Medium";
$regular: "NeoSansPro-Regular";
$ultra: "NeoSansPro-Ultra";

// colors

$dark: #5a5e64;
$red: #e53036;
$grey: #c6c8ca;
$lightGrey: #eaebec;
$blue: #235999;
$darkGrey: #e0e0e1;