@import "global/vars";
@import "global/base";
@import "global/common";
@import "global/fonts";
@import "global/sprite";
@import "global/mixins";

@import "sections/title";
@import "sections/header";
@import "sections/slogan";
@import "sections/services";
@import "sections/price";
@import "sections/advantage";
@import "sections/subscribe";